[submodule "images/jboss-amq-6-image.git"]
	path = images/jboss-amq-6-image.git
	url = git@github.com:jboss-container-images/jboss-amq-6-image.git
	branch = amq63-dev
[submodule "images/jboss-amq-6-openshift-image.git"]
	path = images/jboss-amq-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-amq-6-openshift-image.git
	branch = amq63-dev
[submodule "images/jboss-base-image.git"]
	path = images/jboss-base-image.git
	url = git@github.com:jboss-container-images/jboss-base-image.git
	branch = base-rhel7-dev
[submodule "images/jboss-bpmsuite-7-image.git"]
	path = images/jboss-bpmsuite-7-image.git
	url = git@github.com:jboss-container-images/jboss-bpmsuite-7-image.git
	branch = bpmsuite70-dev
[submodule "images/jboss-datagrid-6-client-openshift-image.git"]
	path = images/jboss-datagrid-6-client-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-6-client-openshift-image.git
	branch = datagrid65-client-dev
[submodule "images/jboss-datagrid-6-image.git"]
	path = images/jboss-datagrid-6-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-6-image.git
	branch = datagrid65-dev
[submodule "images/jboss-datagrid-6-openshift-image.git"]
	path = images/jboss-datagrid-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-6-openshift-image.git
	branch = datagrid65-dev
[submodule "images/jboss-datagrid-7-client-openshift-image.git"]
	path = images/jboss-datagrid-7-client-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-7-client-openshift-image.git
	branch = datagrid71-client-dev
[submodule "images/jboss-datagrid-7-image.git"]
	path = images/jboss-datagrid-7-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-7-image.git
	branch = datagrid71-dev
[submodule "images/jboss-datagrid-7-openshift-image.git"]
	path = images/jboss-datagrid-7-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datagrid-7-openshift-image.git
	branch = datagrid71-dev
[submodule "images/jboss-datavirt-6-driver-openshift-image.git"]
	path = images/jboss-datavirt-6-driver-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datavirt-6-driver-openshift-image.git
	branch = datavirt63-driver-dev
[submodule "images/jboss-datavirt-6-image.git"]
	path = images/jboss-datavirt-6-image.git
	url = git@github.com:jboss-container-images/jboss-datavirt-6-image.git
	branch = datavirt63-dev
[submodule "images/jboss-datavirt-6-openshift-image.git"]
	path = images/jboss-datavirt-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-datavirt-6-openshift-image.git
	branch = datavirt63-dev
[submodule "images/jboss-decisionserver-6-openshift-image.git"]
	path = images/jboss-decisionserver-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-decisionserver-6-openshift-image.git
	branch = decisionserver64-dev
[submodule "images/jboss-eap-6-image.git"]
	path = images/jboss-eap-6-image.git
	url = git@github.com:jboss-container-images/jboss-eap-6-image.git
	branch = eap64-dev
[submodule "images/jboss-eap-6-openshift-image.git"]
	path = images/jboss-eap-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-eap-6-openshift-image.git
	branch = eap64-dev
[submodule "images/jboss-eap-7-image.git"]
	path = images/jboss-eap-7-image.git
	url = git@github.com:jboss-container-images/jboss-eap-7-image.git
	branch = eap71-dev
[submodule "images/jboss-eap-7-openshift-image.git"]
	path = images/jboss-eap-7-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-eap-7-openshift-image.git
	branch = eap71-dev
[submodule "images/jboss-kieserver-6-openshift-image.git"]
	path = images/jboss-kieserver-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-kieserver-6-openshift-image.git
	branch = kieserver64-dev
[submodule "images/jboss-openjdk-image.git"]
	path = images/jboss-openjdk-image.git
	url = git@github.com:jboss-container-images/jboss-openjdk-image.git
	branch = openjdk18-rhel7-dev
[submodule "images/jboss-processserver-6-openshift-image.git"]
	path = images/jboss-processserver-6-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-processserver-6-openshift-image.git
	branch = processserver63-dev
[submodule "images/jboss-webserver-3-image.git"]
	path = images/jboss-webserver-3-image.git
	url = git@github.com:jboss-container-images/jboss-webserver-3-image.git
	branch = webserver31-dev
[submodule "images/jboss-webserver-3-openshift-image.git"]
	path = images/jboss-webserver-3-openshift-image.git
	url = git@github.com:jboss-container-images/jboss-webserver-3-openshift-image.git
	branch = webserver31-dev
[submodule "images/redhat-openjdk-18-openshift-image.git"]
	path = images/redhat-openjdk-18-openshift-image.git
	url = git@github.com:jboss-container-images/redhat-openjdk-18-openshift-image.git
	branch = openjdk18-dev
[submodule "images/redhat-sso-7-image.git"]
	path = images/redhat-sso-7-image.git
	url = git@github.com:jboss-container-images/redhat-sso-7-image.git
	branch = sso71-dev
[submodule "images/redhat-sso-7-openshift-image.git"]
	path = images/redhat-sso-7-openshift-image.git
	url = git@github.com:jboss-container-images/redhat-sso-7-openshift-image.git
	branch = sso71-dev
[submodule "cct_module"]
	path = images/cct_module
	url = git@github.com:jboss-openshift/cct_module.git
	branch = master
[submodule "images/jboss-amq-7-image.git"]
	path = images/jboss-amq-7-image.git
	url = git@github.com:jboss-container-images/jboss-amq-7-image.git
